<h1><%= @map.name%></h1>
<br />
<p>Informações sobre o melhor caminho</p>
<br />
<p>Caminho</p>
<%= @road_info[:road] %>
<br />
<p>Custo</p>
<%= @road_info[:cost].to_s %>

<br />
<br />
<%= link_to "Nova consulta", roads_path %>
